<div class="sc-body sc-config-body">
  {{#each fields}}
    <fieldset>
      <legend>{{label}}</legend>
      <p class="notes">{{hint}}</p>
      <div class="setting-item-drop" data-setting="{{setting}}" title="{{localize 'DOWNTIME_MANAGER.Settings.ItemDefaults.DropHint'}}">
        {{#if item}}
          <img src="{{item.img}}" alt="">
          <strong>{{item.name}}</strong>
        {{else}}
          <span>{{localize "DOWNTIME_MANAGER.Settings.ItemDefaults.DropItem"}}</span>
        {{/if}}
      </div>
      {{#if uuid}}<button type="button" data-action="clearItem" data-setting="{{setting}}"><i class="fa-solid fa-trash"></i> {{localize "DOWNTIME_MANAGER.Actions.Remove"}}</button>{{/if}}
    </fieldset>
  {{/each}}
  <fieldset>
    <legend>{{localize "DOWNTIME_MANAGER.Settings.StationCategories.Name"}}</legend>
    <p class="notes">{{localize "DOWNTIME_MANAGER.Settings.StationCategories.Hint"}}</p>
    <div class="sc-list">
      {{#each categories}}<div class="sc-grid-row sc-category-setting-row">
        <input type="text" name="categories.{{@index}}.id" value="{{id}}" placeholder="research">
        <input type="text" name="categories.{{@index}}.label" value="{{label}}" placeholder="Research">
        <button type="button" data-action="removeCategory" data-index="{{@index}}" title="{{localize 'DOWNTIME_MANAGER.Actions.Remove'}}"><i class="fa-solid fa-trash"></i></button>
      </div>{{/each}}
    </div>
    <button type="button" data-action="addCategory"><i class="fa-solid fa-plus"></i> {{localize "DOWNTIME_MANAGER.Settings.StationCategories.Add"}}</button>
  </fieldset>
  <footer class="form-footer"><button type="submit"><i class="fa-solid fa-floppy-disk"></i> {{localize "DOWNTIME_MANAGER.Actions.Save"}}</button></footer>
</div>
