<div class="sc-body sc-config-body">
  <p class="notes">{{localize "DOWNTIME_MANAGER.StationPresets.Hint"}}</p>
  <div class="sc-list sc-station-preset-list">
    {{#each presets}}<article class="sc-station-preset">
      <img src="{{img}}" alt="">
      <div class="grow"><h3><i class="{{icon}}"></i> {{name}}</h3><p>{{description}}</p><span class="sc-category-chip">{{category}}</span></div>
      <div class="sc-station-preset-actions">
        <label class="checkbox"><input type="checkbox" data-project-for="{{id}}"> {{localize "DOWNTIME_MANAGER.StationPresets.IncludeProject"}}</label>
        <button type="button" data-action="importPreset" data-preset-id="{{id}}"><i class="fa-solid fa-download"></i> {{#if imported}}{{localize "DOWNTIME_MANAGER.StationPresets.ImportAgain"}}{{else}}{{localize "DOWNTIME_MANAGER.StationPresets.Import"}}{{/if}}</button>
      </div>
    </article>{{/each}}
  </div>
</div>
